@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#report-lost {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 56px;
    letter-spacing: 2px;
    color: #333;
    margin-bottom: 20px;
    text-decoration: underline;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
input[type="date"],
input[type="file"] {
    background-color: #fff;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
    height: 30px;
}

button {
    background-color: #007bff; /* Matching Report Found Button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: 0.3s ease;
}

button:hover {
    background-color: #218838; /* Slightly Darker Green */
}

.container {
    display: block;
    width: 100%;
}
